header {
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: space-between ;
    align-items: center;
    padding: 0 2.5rem;
    background: #ffffff;
  }
  
  header h1 {
    margin: 0;
    text-align: left ;
    color: rgb(10, 10, 10);
    font-size: 3.5rem;
  }
  
  header button {
    font: inherit;
    padding: 0.5rem 1rem;
    background: #ebcd4b;
    border: 1px solid #ebcd4b;
    color: white;
    border-radius: 6px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.26);
    cursor: pointer;
  }
  
  header button:hover,
  header button:active {
    background: #f3cc4b;
    border-color: #f3cc4b;
    color: #995200;
  }