
* {
  box-sizing: border-box;
}

html {
  font-family: 'Cormorant Garamond', serif;
}

body {
  margin-right: auto;
  padding: 0.5rem 0.5rem;
}
p {
  font-size: 16px;
  font-family: "Cormorant Garamond", serif;
  text-align: center;
}
h2{
  font-family: 'Cormorant Garamond', serif;
  text-align: center;

}
h3{
  font-family: "Cormorant Garamond", serif;
  text-align: center;
  
}
h4{
  font-family: "Cormorant Garamond", serif;
  text-align: center;
}

button:focus {
  outline: none;
}

main section button {
  font: inherit;
  padding: 0.5rem 1rem;
  background: #ebcd4b;
  border: 1px solid #e9da97;
  color: whitesmoke;
  border-radius: 6px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.26);
  cursor: pointer;
  float:right;
}

main section button:hover,
main section button:active {
  background: #f3cc4b;
  border-color: #f3cc4b;
  color: #995200;
}

label {
  font-weight: bold;
  margin: 0.5rem 0;
  color: #464646;
}
section {
  display: flex;
  justify-content: right;
  flex-direction: none;
}

input {
  font: inherit;
  border: 1px solid #ccc;
  padding: 0.4rem 0.2rem;
  color: #383838;
}

input:focus {
  outline: none;
  background: #fff1c4;
}

.btn {
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 1px solid #00329e;
  background: #00329e;
  color: white;
  border-radius: 6px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.26);
  cursor: pointer;
  margin: 0 0.5rem;
}

.btn:hover,
.btn:active {
  background: #f67722;
  border-color: #f67722;
}

.btn--passive {
  color: #00329e;
  background: transparent;
  border: none;
  box-shadow: none;
}

.btn--passive:hover,
.btn--passive:active {
  background: #aec6f8;
}

.btn--danger {
  background: #d30808;
  color: white;
  border-color: #d30808;
}

.btn--danger:hover,
.btn--danger:active {
  background: #ff3217;
  border-color: #ff3217;
}



.gallery:hover {
  border: 1px solid white;
}
.dress_info {
  text-align: center;
}
.rating-info {
  text-align: center;
}

.desc {
  padding: 15px;
  text-align: center;
}

.modal {
  position: fixed;
  z-index: 100;
  /* width: 75vw; */
  top: 30vh;
  left: 10%;
  display: none;
}
.modal#view-dress-modal {
  max-height: calc(100% - 100px);
  position: fixed;
  top: 5%;
  left: 15%;
  width: 75%;
  transform: translate(-50%, -50%);
  overflow-y: auto;
  /* padding-left: 10px; */
}

.modal.visible {
  display: block;
  animation: fade-slide-in 0.3s ease-out forwards;
}

.modal .modal__title {
  margin: 0;
  padding: 1rem;
  border-bottom: 1px solid #00329e;
  background: #00329e;
  color: white;
  border-radius: 10px 10px 0 0;
}

.modal .modal__content {
  padding: 1rem;
}

.modal .modal__actions {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
}

#entry-text {
  width: 40rem;
  margin: 2rem auto;
  max-width: 80%;
  padding: 1rem;
}

#entry-text p {
  font-size: 1.5rem;
  text-align: center;
}

#backdrop {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(129, 102, 102, 0.75);
  z-index: 10;
  pointer-events: none;
  display: none;
}

#backdrop.visible {
  display: block;
  pointer-events: all;
}

#add-modal .modal__content {
  display: flex;
  flex-direction: column;
}
.stars-outer {
  position: relative;
  display: inline-block;
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.stars-outer::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #ccc;
}

.stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #f8ce0b;
}

@media (min-width: 768px) {
  .modal {
    width: 40rem;
    left: calc(50% - 20rem);
  }
}

@keyframes fade-slide-in {
  from {
    transform: translateY(-5rem);
  }
  to {
    transform: translateY(0);
  }
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}


