.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  box-sizing: border-box;
}

html {
  font-family: ui-sans-serif;
}

body {
  margin: 0;
}
p {
  font-size: 16px;
  font-family: ui-sans-serif;
  text-align: center;
}

button:focus {
  outline: none;
}

header {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: space-between ;
  align-items: center;
  padding: 0 2.5rem;
  background: #ffffff;
}

header h1 {
  margin: 0;
  text-align: left ;
  color: rgb(10, 10, 10);
  font-size: 3.5rem;
}

header button {
  font: inherit;
  padding: 0.5rem 1rem;
  background: #ebcd4b;
  border: 1px solid #ebcd4b;
  color: white;
  border-radius: 6px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.26);
  cursor: pointer;
}

header button:hover,
header button:active {
  background: #f3cc4b;
  border-color: #f3cc4b;
  color: #995200;
}
main section button {
  font: inherit;
  padding: 0.5rem 1rem;
  background: #ebcd4b;
  border: 1px solid #e9da97;
  color: whitesmoke;
  border-radius: 6px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.26);
  cursor: pointer;
}

main section button:hover,
main section button:active {
  background: #f3cc4b;
  border-color: #f3cc4b;
  color: #995200;
}

label {
  font-weight: bold;
  margin: 0.5rem 0;
  color: #464646;
}
section {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

input {
  font: inherit;
  border: 1px solid #ccc;
  padding: 0.4rem 0.2rem;
  color: #383838;
}

input:focus {
  outline: none;
  background: #fff1c4;
}

.btn {
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 1px solid #00329e;
  background: #00329e;
  color: white;
  border-radius: 6px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.26);
  cursor: pointer;
  margin: 0 0.5rem;
}

.btn:hover,
.btn:active {
  background: #f67722;
  border-color: #f67722;
}

.btn--passive {
  color: #00329e;
  background: transparent;
  border: none;
  box-shadow: none;
}

.btn--passive:hover,
.btn--passive:active {
  background: #aec6f8;
}

.btn--danger {
  background: #d30808;
  color: white;
  border-color: #d30808;
}

.btn--danger:hover,
.btn--danger:active {
  background: #ff3217;
  border-color: #ff3217;
}
section {
  background-color: rgb(255, 224, 218);
}
.dress_img {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  max-width: 100%;
  max-height: 100%;
  /* width: 100px;
    height: 100px; */
}


.cards {
  display: block ;

  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

  grid-auto-rows: auto;

  grid-gap: 1rem;

  /* display: flex; */
    /* flex-wrap: wrap; */
    justify-content: space-between;
}
.item-card {
  list-style: none;
  padding: 1.5rem;
  flex: 0 1 calc(25% - 1em);
  /* border: 2px solid #e7e7e7;
 
border-radius: 4px;
 
padding: .5rem; */
}
.gallery .item-card {
  background: white;
  border-radius: 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  width: 500px;
  /* padding: 1.5rem 1.5rem; */
  margin: 1.5rem 0;
}
img {
  max-width: 90%;
  max-height: 90%;
  margin: 0 auto;
  display: block; /* remove extra space below image */
}


.gallery:hover {
  border: 1px solid white;
}
.dress_info {
  text-align: center;
}
.rating-info {
  text-align: center;
}

.desc {
  padding: 15px;
  text-align: center;
}

.modal {
  position: fixed;
  z-index: 100;
  /* width: 75vw; */
  top: 30vh;
  left: 10%;
  display: none;
}
.modal#view-dress-modal {
  max-height: calc(100% - 100px);
  position: fixed;
  top: 5%;
  left: 15%;
  width: 75%;
  transform: translate(-50%, -50%);
  overflow-y: auto;
  /* padding-left: 10px; */
}

.modal.visible {
  display: block;
  animation: fade-slide-in 0.3s ease-out forwards;
}

.modal .modal__title {
  margin: 0;
  padding: 1rem;
  border-bottom: 1px solid #00329e;
  background: #00329e;
  color: white;
  border-radius: 10px 10px 0 0;
}

.modal .modal__content {
  padding: 1rem;
}

.modal .modal__actions {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
}

#entry-text {
  width: 40rem;
  margin: 2rem auto;
  max-width: 80%;
  padding: 1rem;
}

#entry-text p {
  font-size: 1.5rem;
  text-align: center;
}

#backdrop {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(129, 102, 102, 0.75);
  z-index: 10;
  pointer-events: none;
  display: none;
}

#backdrop.visible {
  display: block;
  pointer-events: all;
}

#add-modal .modal__content {
  display: flex;
  flex-direction: column;
}
.stars-outer {
  position: relative;
  display: inline-block;
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.stars-outer::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #ccc;
}

.stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #f8ce0b;
}

/* @media (min-width: 768px) {
  .modal {
    width: 40rem;
    left: calc(50% - 20rem);
  }
} */

@keyframes fade-slide-in {
  from {
    transform: translateY(-5rem);
  }
  to {
    transform: translateY(0);
  }
}
/*  */
.gallery {
  margin: 8px;
  /* border: 1px solid #ccc; */
  float: left;
  width: 495px;
  height: auto;
  text-align: center;
  display: table;
  padding: 0;
  list-style: none();
}
.card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  flex: 0 1 calc(25% - 1em);
  /* width: 250px; */
 width: 25rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 5099%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
