 .gallery {
    margin: 10px;
    border: 1px solid #ccc; 
    float:center;
    width: 25px;
    height: auto;
    text-align: center;
    display: table;
    padding: 0;
    list-style: none();
   }  
    .card {
    background: white;
    border-radius: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    flex-basis: 0 1 calc(20% - 1em);
    padding:20;
    width: 25rem; 
    float:center;
  }   
  
  .responsive {
    padding: 0 6px;
    float: center;
    width: 509%;
  }

  .item-card {
    list-style: none;
    padding: 2rem;
    flex: 0 1 calc(30% - 1em);
    border-radius: 4px;
    /* border: 2px solid #e7e7e7; */
    /* padding: 1.5rem 0.5rem; 
  padding: .5rem; */
  }
  .gallery .item-card {
    background: white;
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    width: 500px;
     padding: 1.5rem 1.5rem; 
    margin: 1.5rem 0;
  }
  img {
    max-width: 90%;
    max-height: 90%;
    margin: 0 auto;
    display: block; /* remove extra space below image */
  }
  